extends layout

block content
    h1= "Edit Employee"
    div.newemployee
        form( method="post")
            input(name="_id", type="hidden", value=employee._id.toHexString()) 
            div
                div
                    span.label 標題 :
                    input(type="text", name="title", id="editEmployeeTitle", value=[title])
                div
                    span.label 內容 :
                    input(type="text", name="name", id="editEmployeeName", value=employee.name)
                div#editEmployeeSubmit
                    input(type="submit", value="修改")
        a(href="/")!= "回到新增頁面"
